################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShowCard/.vs
/ShowCard/ShowCard/obj
/ShowCard/ShowCard/bin
