################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShowCard/.vs
/ShowCard/ShowCard/obj
/ShowCard/ShowCard/bin
/ShowCard/ShowCard/ShowCard/bin/Debug/net9.0-windows
/ShowCard/ShowCard/ShowCard/obj
/ShowCard/ShowCard.UnitTests/bin/Debug
/ShowCard/ShowCard.UnitTests/obj
