################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShowCard/.vs/ShowCard
/ShowCard/ShowCard/obj
/ShowCard/.vs/ProjectEvaluation
/ShowCard/ShowCard/bin/Debug/net9.0-windows
